
.btnContainer{
    display: flex;
}
.feedback{
    display: block;
}
.hidd{
    display: none;
}
:global(body) {
    display: flex;
    justify-content: center;
    
  }
  :global(#root){
font-family: Arial, Helvetica, sans-serif;
  }